<section>
    <H1>All Attractions</H1>
    {{Attraction.lat}}
    {{sResults.id}}
    
    <div>
            {{!-- Pull attractions --}}
    <ul class="attraction-list">
        {{#each attractions as |attraction|}}
        <li>
            <article class="attraction">
            <div class="title">
                <a href="/attractions/{{id}}">{{name}}</a>
            </div>
            </article>
        </li>
        {{/each}}
    </ul>
    </div>



    {{#each firstTwenty}}
        <li>
            <article class="attraction">
            <div class="title">
                <a href="/attractions/{{id}}">{{name}}</a>
            </div>
            </article>
        </li>
    {{/each}}

    {{#each firstTwenty}}
        
        {{id}}
        
    {{/each}}

    {{firstTwenty.id}}

    {{!-- not working yet --}}
    {{!-- <div id="map" style="height: 500px"></div> --}}

</section>

{{!-- <script src="/js/search-attractions.js"></script> --}}
{{!-- <script src="/js/map-init.js"></script> --}}