<article class="attraction">
    <div>
        <h1>Attraction Name:</h1>
        <h1>{{attraction.name}}</h1>
    </div>
    <div>
        <h3>Paranormal Category:</h3>
        <p id="attraction-category">{{attraction.category.name}}</p>
        <div id="category-image"></div>
    </div>
    <div>
        <h3>Attraction Type:</h3>
        {{#each attraction.attraction_types}}
        <ul>
            <li>{{name}}</li>
        </ul>

        {{/each}}
    </div>
    <div>
        <h3> Description of Attaction:</h3>
        {{attraction.description}}
    </div>

    <form class="comment-form">
        <div>
            <textarea name="comment-body"></textarea>
        </div>

        <div>
            <button type="submit" class="add-cmnt">add comment</button>
        </div>
    </form>

    <div class="comments">
        {{#each attraction.comments}}
        <section class="comment">
            <div class="meta">
                {{user.username}}
            </div>
            <div class="text">
                {{comment_text}}
            </div>
        </section>
        {{/each}}
    </div>

</article>

<script src="/js/attraction-icon.js"></script>
<script src="/js/comment.js"></script>